@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Medium.woff2") format("woff2"),
    url("../font/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Bold.woff2") format("woff2"),
    url("../font/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}
.nav {
  max-width: 946px;
  margin: auto;
  font-family: "Gilroy-Bold";
  font-size: 18px;
  line-height: 22px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 39px;
}
.nav-link {
  text-decoration: none;
  color: #828282;
}
.nav-link-home {
  color: #070707;
}
/* Главная страница */
.hero {
  max-width: 946px;
  margin: auto;
}
.hero-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 31px;
}
.logo {
  margin: 0;
  font-family: "Gilroy-Bold";
  font-size: 47.3392px;
  line-height: 59px;
  color: #070707;
  text-align: center;
}
.info {
  font-family: "Gilroy-Medium";
  font-weight: 400;
}
.lang {
  font-family: "Gilroy-Bold";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: rotate(-90deg);
}
.grey {
  color: #828282;
}
.photo {
  margin-bottom: 104px;
  background-color: #000;
  width: 100%;
}

/* About */
.section-about {
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  min-height: 506px;
}

.about-text {
  max-width: 485px;
  margin-bottom: 106px;
}
.about {
  text-align: center;
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42px;
  font-weight: 900;
  padding-top: 120px;
}

.text {
  text-align: center;
  color: #070707;
  /*  */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* section-skills*/
.skills {
  max-width: 936px;
  margin: auto;
  margin-bottom: 106px;
}
.skill-title {
  font-family: "Gilroy-Bold";
  font-weight: 900;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  padding-top: 91px;
  margin-bottom: 69px;
}
.skill-subtitle {
  font-family: "Gilroy-Medium";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 82px;
  color: #070707;
}
.skill-items {
  display: flex;
  justify-content:center ;
  align-items: center;
  flex-wrap: wrap;
}
.skill-items-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  width: 167px;
  height: 206px;
}

.prog-name {
  display: block;
  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}
/* Портфолио */
.portfolio {
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.portfolio-block {
  max-width: 936px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.portfolio-title {
  bottom: 57.13%;
  font-family: "Gilroy-Bold";
  font-weight: 900;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
}
.portfolio-img {
  margin-bottom: 45px;
  width: 100%;
}
.portfilio-subtitle {
  display: block;
  margin-bottom: 99px;
  font-family: "Gilroy-Medium";
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
  color: #070707;
}
/* Contacts */
.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contacts {
  /* display: flex; */
  /* flex-direction: column; */
  text-align: center;
  justify-content: space-between;
}
.title {
  bottom: 57.13%;
  font-family: "Gilroy-Bold";
  font-weight: 900;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
}
.subtile {
  font-family: "Gilroy-Medium";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
.button {
  height: 42px;
  width: 180px;
  font-family: "Gilroy-Bold";
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  border: none;
  border-radius: 25px;
  background-color: #000;
  color: #fff;
  margin-bottom: 80px;
}
.like {
  align-items: center;
  /* display: flex; */
  /* flex-direction: column; */
}
.socials {
  display: flex;
  justify-content: space-between;
  width: 342px;
  margin-bottom: 45px;
  margin: auto;
}

.social-text {
  text-align: center;
  margin-bottom: 125px;
  font-family: "Gilroy-Medium";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 45px;
  color: #828282;
}
